In [2]:

import pandas as pd
from qdrant_client import QdrantClient
from qdrant_client.models import Distance, VectorParams
from sentence_transformers import SentenceTransformer

In [3]:
key = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2Nlc3MiOiJtIn0.w2PnVQu7hvrSb-5u-CWEPxGXuUbkDy_IaElgNBHAnXU"

url = "https://bf57de15-f343-4041-aacd-6d8daccab983.europe-west3-0.gcp.cloud.qdrant.io"

client = QdrantClient(url, api_key=key)

In [ ]:
df_sum = pd.read_csv("booksummaries.txt", sep="\t", header=None)
#create column names
df_sum.columns = ["wiki_id", "freebase_id", "title", "author", "date", "genre", "summary"]
df_sum.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16559 entries, 0 to 16558
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   wiki_id      16559 non-null  int64
 1   freebase_id  16559 non-null  object
 2   title        16559 non-null  object
 3   author       14177 non-null  object
 4   date         10949 non-null  object
 5   genre        12841 non-null  object
 6   summary      16559 non-null  object
dtypes: int64(1), object(6)
memory usage: 905.7+ KB

In [36]:
# create data frame for BX_Books csv
# collumns sepearted by ;
df_bx = pd.read_csv("BX_Books.csv", sep=";", encoding='latin-1')
# drop all columns except ISBN, Book-Title, Book-Author
df_bx = df_bx.drop(columns=['Image-URL-S', 'Image-URL-M', 'Image-URL-L', 'Publisher', 'Year-Of-Publication'])
#rename Book-Title to title
df_bx = df_bx.rename(columns={"Book-Title": "title"})
#sort by title
df_bx = df_bx.sort_values(by=['title'])
df_bx.head()

,ISBN,title,Book-Author
35298,0590567330,A Light in the Storm: The Civil War Diary of ...,Karen Hesse
255902,0964147726,Always Have Popsicles,Rebecca Harvin
133782,0942320093,Apple Magic (The Collector's series),Martina Boudreau
271280,0310232546,"Ask Lily (Young Women of Faith: Lily Series, ...",Nancy N. Rue
23263,0962295701,Beyond IBM: Leadership Marketing and Finance ...,Lou Mobley

In [37]:
#check for duplicate titles in BX_Books
df_bx[df_bx.duplicated(subset=['title'], keep=False)]

,ISBN,title,Book-Author
75640,1565920465,!%@ (A Nutshell handbook),Donnalyn Frey
156349,1565920317,!%@ (A Nutshell handbook),Donnalyn Frey
140624,0792276833,'A Hell of a Place to Lose a Cow': An American...,Tim Brookes
158213,0792277295,'A Hell of a Place to Lose a Cow': An American...,Tim Brookes
10439,0451168089,'Salem's Lot,Stephen King
...,...,...,...
193468,0316089702,dot.bomb: My Days and Nights at an Internet Go...,J. David Kuo
164122,158621182X,dot.bomb: My Days and Nights at an Internet Go...,J. David Kuo
193447,0316507490,dot.bomb: My Days and Nights at an Internet Go...,J. David Kuo
197396,3492233376,Ã?Â?berleben in der WÃ?Â¼ste Danakil.,RÃ?Â¼diger Nehberg
185474,3492218091,Ã?Â?berleben in der WÃ?Â¼ste Danakil.,RÃ?Â¼diger Nehberg

In [38]:
#create data frame from BX_Books that contains only unique titles
df_bx_unique = df_bx.drop_duplicates(subset=['title'])
df_bx_unique.head()

,ISBN,title,Book-Author
35298,0590567330,A Light in the Storm: The Civil War Diary of ...,Karen Hesse
255902,0964147726,Always Have Popsicles,Rebecca Harvin
133782,0942320093,Apple Magic (The Collector's series),Martina Boudreau
271280,0310232546,"Ask Lily (Young Women of Faith: Lily Series, ...",Nancy N. Rue
23263,0962295701,Beyond IBM: Leadership Marketing and Finance ...,Lou Mobley

In [39]:
#create df with only title, author, and summary
df_sum = df_sum[["title","author", "summary"]]
df_sum.head()

,title,author,summary
0,Animal Farm,George Orwell,"Old Major, the old boar on the Manor Farm, ca..."
1,A Clockwork Orange,Anthony Burgess,"Alex, a teenager living in near-future Englan..."
2,The Plague,Albert Camus,The text of The Plague is divided into five p...
3,An Enquiry Concerning Human Understanding,David Hume,The argument of the Enquiry proceeds by a ser...
4,A Fire Upon the Deep,Vernor Vinge,The novel posits that space around the Milky ...

In [40]:
#left merge with BX_Books
df_combined = pd.merge(df_sum, df_bx_unique, on="title", how="inner")
#drop author column
df_combined = df_combined.drop(columns=["author"])
df_combined.head()
df_combined.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6101 entries, 0 to 6100
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   title        6101 non-null   object
 1   summary      6101 non-null   object
 2   ISBN         6101 non-null   object
 3   Book-Author  6101 non-null   object
dtypes: object(4)
memory usage: 190.8+ KB