In [2]:
import json
import pandas as pd

In [3]:
goodreads = pd.read_json('data/goodreads_interactions_comics_graphic.json', lines=True)

goodreads.columns

Index(['user_id', 'book_id', 'review_id', 'is_read', 'rating',
       'review_text_incomplete', 'date_added', 'date_updated', 'read_at',
       'started_at'],
      dtype='object')

In [4]:
work_id_book_id_dict = pd.read_csv('work_id_book_id_dict.csv')

Try deleting book_ids that are no longer in books table, how many ratings are left?

In [5]:
goodreads

,user_id,book_id,review_id,is_read,rating,review_text_incomplete,date_added,date_updated,read_at,started_at
0,8842281e1d1347389f2ab93d60773d4d,836610,6b4db26aafeaf0da77c7de6214331e1e,False,0,,Mon Aug 21 12:11:00 -0700 2017,Mon Aug 21 12:11:00 -0700 2017,,
1,8842281e1d1347389f2ab93d60773d4d,7648967,99b27059f711c37de8f90ee8e4dc0d1b,False,0,,Fri Feb 24 08:59:44 -0800 2017,Fri Feb 24 08:59:44 -0800 2017,,
2,8842281e1d1347389f2ab93d60773d4d,15704307,cb944d94854df5afd22210bb0aa0c903,False,0,,Wed May 20 21:28:56 -0700 2015,Wed May 20 21:28:57 -0700 2015,,
3,8842281e1d1347389f2ab93d60773d4d,6902644,2711bac2a8cc600dae1590a6ca0edb34,False,0,,Sun Jun 01 17:25:23 -0700 2014,Sun Jun 01 17:25:23 -0700 2014,,
4,8842281e1d1347389f2ab93d60773d4d,9844623,b72979076d1cded25dded922195e5b1c,False,0,,Sun Sep 02 08:45:08 -0700 2012,Sun Sep 02 08:45:08 -0700 2012,,
...,...,...,...,...,...,...,...,...,...,...
7347625,bd3ac2e547a4f521927056cbd6bb5c2f,1484167,bbaef6acb7e6e1a165e3b52c1ad56c67,True,5,,Thu Jun 07 08:39:53 -0700 2012,Thu Jun 07 08:39:53 -0700 2012,,
7347626,bd3ac2e547a4f521927056cbd6bb5c2f,122451,cdd31f160c2db01232b9998600940d0c,True,5,,Wed Jun 06 15:17:39 -0700 2012,Wed Jun 06 15:17:39 -0700 2012,,
7347627,6384a10d5611945b26b25c971f348fa4,85574,2047dd9f2fc589340a9ec011fbcff490,True,3,,Mon Nov 05 10:37:35 -0800 2012,Mon Nov 05 10:37:48 -0800 2012,,
7347628,e9aea57d21cdf9d91a65687d59518924,15197,e8df0a577d4fd440b223c54cdf641dc0,True,5,,Mon Jun 04 15:45:50 -0700 2012,Mon Jun 04 15:45:50 -0700 2012,,
7347629,762121298ddd3820c9477c6f03f145ab,6493321,98c8116e2fc021e6c5a3cbb8787a993d,True,4,,Sat Jun 09 11:53:18 -0700 2012,Sat Jun 09 11:53:18 -0700 2012,,